* {
    background-color: rgb(238, 238, 6238);
    margin: 10px
}

body {
    padding-left: 5rem;
    padding-right: 5rem;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#display {
    background-color: black;
    color: lightblue;
    font-family: monospace;
    font-size: xx-large;
    text-align: right;
    padding: 1rem;
    padding-right: 1rem;
}

img{
    display: block;
    margin: auto;
    width: 60%
}

.ir-carrito{
    float: right;
    width: 6%;
    height: 15px;
    cursor: pointer;
    align-items: top;
}

h1{
    text-align: center;
    padding: 45px;
}

h2 {
    text-align: left;
    height: 8px;
    font-size: 20px;
    text-decoration: underline;
}

h3{
    text-align: center;
    height: 8px;
    font-size: 15px;
    padding-top: 30px;
}