@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");

* {
    background-color: rgb(199, 199, 199);
    margin: 10px
}

body {
    padding-left: 5rem;
    padding-right: 5rem;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div#display {
    background-color: black;
    color: lightblue;
    font-family: monospace;
    font-size: xx-large;
    text-align: right;
    padding: 1rem;
    padding-right: 1rem;
}

img{
    display: block;
    margin: auto;
    width: 60%;
}

.ir-carrito{
    float: right;
    width: 6%;
    height: 15px;
    cursor: pointer;
    align-items: top;
}

h1{
    text-align: center;
    padding: 45px;
    color:rgb(202, 123, 32)
}

h2 {
    text-align: left;
    height: 8px;
    font-size: 20px;
    text-decoration: underline;
}

h3{
    text-align: center;
    height: 8px;
    margin: 10px;
    font-size: 20px;
    padding-top: 30px;
}

.div-card {
    display: flexbox;
    margin: 20px;
    padding: px;
    text-align: center;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    box-shadow: 10px 6px 6px rgba(211, 211, 211, 0.221);
    width: 280px;
    height: 460px;
    align-content: right;
}

.contenedor {
    gap: 0px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.div-card:hover {
    background-color:rgb(160, 160, 160);
    transition: .5s ease-in;
    box-shadow: 5px 20px 60px rgba(211, 211, 211, 0.519);
}

div.imagen {
    
    width: 210px !important;
    padding-top: 10%;
    padding-left: 18% ;
    
}

div.comprar{
    align-items: center;
    padding-top: 4%;
}

div.nombre {
    font-size: 18px;
    font-weight: bold;
}

div.monto {
    font-size: 20px;
    font-weight: 400;
}

b{
    text-align: right;
    font-size: 30px;
}

.div-button {
    text-align: right;
    
}

thead.thead{
    font-size: 20px;
    text-align: center;
    
}

td.quitar{
    width: 100px;
    align-items: center;
}

td.nombre{
    text-align: center;
}

td.monto{
    text-align: center;
}

td.imagen{
    width: 100px;
    align-items: center;
}

button {
    font-size: 10px;
    padding: 0px;
    
}

button, button:not(:hover) {
    background-color: rgb(52, 88, 10);
    border-color: rgb(66, 66, 66);
}

button:hover {
    background-color: rgb(139, 0, 0);
    color: rgb(255, 0, 0);
    border-color: lightgray;
}

button:active {
    background-color: black;
    color: rgb(247, 0, 0);
    border-color: black;
}

.wobble-hor-bottom {
	        animation: wobble-hor-bottom 0.8s both;
}

 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
              transform: translateX(0%);
              transform-origin: 50% 50%;
    }
    15% {
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
              transform: translateX(15px) rotate(6deg);
    }
    45% {
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
              transform: translateX(0%);
              transform-origin: 50% 50%;
    }
    15% {
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
              transform: translateX(15px) rotate(6deg);
    }
    45% {
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }